@use "sass:map";

$-ff-sans: system-ui, sans-serif;
$-ff-serif: serif;

$-ff-family-base: "Montserrat", sans-serif;

$-ff-family-neon-light: "Neonderthaw", cursive;

$font-family-accent: $-ff-sans;
$font-family-base: $-ff-family-base;
$font-family-neon: $-ff-family-neon-light;

$font-sizes: (
  "10": 10,
  "12": 12,
  "14": 14,
  "16": 16,
  "20": 20,
  "22": 22,
  "26": 26,
  "32": 32,
  "64": 64,
  "82": 82,
  "128": 128,
);
$font-size-10: map.get($font-sizes, "10");
$font-size-12: map.get($font-sizes, "12");
$font-size-14: map.get($font-sizes, "14");
$font-size-16: map.get($font-sizes, "16");
$font-size-20: map.get($font-sizes, "20");
$font-size-22: map.get($font-sizes, "22");
$font-size-26: map.get($font-sizes, "26");
$font-size-32: map.get($font-sizes, "32");
$font-size-64: map.get($font-sizes, "64");
$font-size-82: map.get($font-sizes, "82");
$font-size-128: map.get($font-sizes, "128");

$-fw-400: 400;
$-fw-500: 500;
$-fw-700: 700;

$font-weight-default: $-fw-400;
$font-weight-semi-bold: $-fw-500;
$font-weight-bold: $-fw-700;
