@use "../abstracts/" as *;
.about-me-section-container {
  padding-top: 40px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: 1000px;
  grid-auto-flow: row;

  align-items: center;
  justify-content: center;
  gap: 120px;
  min-height: 100vh;
  height: max-content;
  max-height: max-content;
  width: 100vw;
  //   background-image: url("../../library/assets/constellation.jpeg");
  //   background-repeat: repeat-y;
  //   background-size: 100% 500px;

  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}
.about-me-description-container {
  display: grid;
  grid-template-columns: 1fr max-content;
  width: max(100%, 100%);
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.about-me-description-text-container {
  width: max(100%, 100%);
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 30px;
}
.about-me-image {
  width: max(300px, 300px);
  height: max(300px, 300px);
  border-radius: 10px;
  object-fit: cover;
}

.about-me-education-container {
  width: max(100%, 100%);
  display: flex;
  align-items: center;
  justify-items: flex-start;
  position: relative;
}

.about-me-education-image {
  width: max(80%, 80%);
  height: max(300px, 300px);
  object-fit: cover;
}
.about-education-info-container {
  width: max-content;
  max-width: 500px;
  position: absolute;
  right: -10px;

  box-shadow: 0px 0px 10px rgb(white, 0.6);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  bottom: 20px;
}

.about-me-certifications-container {
  width: max(100%, 100%);
  height: max(380px, 380px);
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
  gap: 20px;
}

.about-me-certifications-container {
  box-shadow: 0px 0px 10px rgb(white, 0.6);
}

.about-me-certifications-photo {
  width: max(150px, 150px);
  height: max(150px, 150px);
  object-fit: contain;
}

.about-me-certifications-info-container {
  width: max(100%, 100%);
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;

  overflow-y: hidden;
}

.about-me-active-cards-container {
  width: max(100%, 100%);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-start;
  gap: 0px;
  position: relative;
  height: max-content;
}

.about-me-courses-top-container {
  width: max(100%, 100%);
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.about-me-filter-buttons-container {
  width: max(100%, 100%);
  height: max-content;
  display: grid;
  grid-template-columns: repeat(8, 1fr);

  align-items: center;
  justify-items: center;
  column-gap: 10px;

  grid-auto-flow: column;
}

.about-me-filter-button {
  width: max(100%, 100%);
  border-radius: 2.5px;
  height: max-content;
  padding: 10px 0px;

  transition: 0.5s all;
  border: none;
  text-decoration: none;
  font-family: $font-family-base;
}

.about-me-active-filter-button,
.about-me-filter-button:hover {
  cursor: pointer;
}

.about-me-course-card {
  width: max(100%, 100%);
  height: max(250px, 250px);
  display: flex;
  flex-direction: column;

  padding: 20px;

  background-color: white;
  align-items: flex-start;
  justify-content: center;
  gap: 2.5px;

  position: relative;

  &:nth-child(1) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &:nth-last-child(1) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  &:nth-child(n - 1) {
    border-top: 1px solid grey;
  }

  img {
    width: max(50px, 50px);
    height: max(50px, 50px);
    object-fit: cover;
    border: 2px solid;
    border-radius: 50%;
  }
  a {
    border-radius: 15px;
    height: max-content;
    padding: 3.5px 10px;
    color: grey;
    background-color: transparent;
    transition: 0.5s all;
    border: none;
    width: max-content;
    border: 1px solid black;
    font-family: $font-family-base;
  }
  a:hover {
    cursor: pointer;
    background-color: black;
    color: white;
  }
}

.about-me-card-info-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: flex-start;
  justify-content: flex-start;
}

.about-me-course-card-active {
  opacity: 1;
  transition: all 3s;
}
.about-me-course-card-inactive {
  opacity: 0;
  transition: all 0s;
}
@media (max-width: $large-breakpoint) {
  .about-me-section-container {
    grid-template-columns: 725px;
    gap: 80px;
  }
  .about-me-image {
    width: max(225px, 225px);
    height: max(225px, 225px);
  }
  .about-me-description-text-container {
    padding: 20px 20px;
  }
  .about-education-info-container {
    max-width: 400px;
    right: -10px;
    bottom: -10px;
  }

  .about-me-education-image {
    height: max(250px, 250px);
  }

  .about-me-certifications-container {
    height: max(300px, 300px);
  }

  .about-me-filter-buttons-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    column-gap: 10px;
    row-gap: 10px;
  }
}
@media (max-width: $medium-breakpoint) {
  .about-me-section-container {
    grid-template-columns: 500px;
    gap: 60px;
  }
  .about-me-image {
    width: max(150px, 150px);
    height: max(150px, 150px);
  }
  .about-me-description-text-container {
    padding: 10px 15px;
  }
  .about-education-info-container {
    max-width: 300px;
    right: -10px;
    bottom: -10px;
    gap: 5px;
  }
  .about-me-education-image {
    height: max(200px, 200px);
  }
  .about-me-course-card {
    height: max(200px, 200px);
  }
}
@media (max-width: $small-breakpoint) {
  .about-me-section-container {
    grid-template-columns: 400px;
    gap: 40px;
  }
  .about-me-image {
    width: max(100px, 100px);
    height: max(100px, 100px);
  }
  .about-me-description-text-container {
    padding: 10px 10px;
  }
  .about-me-certifications-container {
    height: max(200px, 200px);
    padding: 10px;
  }
  .about-me-certifications-photo {
    height: max(75px, 75px);
    width: max(75px, 75px);
  }
  .about-me-course-card {
    height: max(175px, 175px);
    img {
      width: max(45px, 45px);
      height: max(45px, 45px);
    }
  }
}
@media (max-width: $tiny-breakpoint) {
  .about-me-section-container {
    grid-template-columns: 300px;
    gap: 40px;
  }
  .about-me-image {
    width: max(75px, 75px);
    height: max(75px, 75px);
  }
  .about-me-description-text-container {
    padding: 10px 10px;
  }
  .about-me-eductaion-image {
    height: max(200px, 200px);
    object-fit: 100%;
    object-position: 0%;
  }
  .about-education-info-container {
    max-width: 220px;
    right: -10px;
    bottom: -10px;
    gap: 5px;
  }
  .about-me-certifications-container {
    height: max(170px, 175px);
  }
  .about-me-certifications-photo {
    height: max(50px, 50px);
    width: max(50px, 50px);
  }
  .about-me-course-card {
    height: max(150px, 150px);
    img {
      width: max(35px, 35px);
      height: max(35px, 35px);
    }
  }
}
