@use "../abstracts" as *;

.button {
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  font-family: $font-family-base;
  font-weight: $font-weight-default;
}

.nav-button-bar {
  width: max(30px, 30px);
  height: max(5px, 5px);
  position: relative;
  transition: all 0.3s;

  &[data-nav-button-bar="three"] {
    width: max(15px, 15px);
    border-top-right-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
  }
  &[data-nav-button-bar="two"] {
    width: max(20px, 20px);
    border-top-right-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
  }
}
.nav-button {
  position: fixed;
  top: 20px;
  right: 20px;

  width: max-content;
  height: max-content;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 10;
  padding: 15px;
  border-radius: 50%;
  transform: rotate(180deg);
  &:hover {
    cursor: pointer;
  }

  &:hover > [data-nav-button-bar="two"] {
    width: max(100%, 100%);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  &:hover > [data-nav-button-bar="three"] {
    width: max(100%, 100%);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
body[data-dark-mode="true"] .nav-button:hover {
  background-color: white;
  &:hover > [data-nav-button-bar="one"] {
    background-color: black;
  }

  &:hover > [data-nav-button-bar="two"] {
    background-color: black;
  }
  &:hover > [data-nav-button-bar="three"] {
    background-color: black;
  }
}
body[data-dark-mode="false"] .nav-button:hover {
  background-color: black;
  &:hover > [data-nav-button-bar="one"] {
    background-color: white;
  }

  &:hover > [data-nav-button-bar="two"] {
    background-color: white;
  }
  &:hover > [data-nav-button-bar="three"] {
    background-color: white;
  }
}
.nav-menu-closing-button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 15;
  border-radius: 50%;
  width: max-content;
  height: max-content;
  color: white;

  padding: 10px 17.5px;
  background-color: rgb(46, 46, 46);
  border: none;
  transition: all 0.5s;
}
.nav-menu-closing-button:hover {
  background-color: rgb(0, 0, 0);
  color: $color-neon-red;
  text-shadow: 0 0 7px rgb(#fff, 0.35), 0 0 17px $color-neon-red,
    0 0 22px $color-neon-red, 0 0 27px $color-neon-red;
}
.theme-pullout-menu {
  top: 80px;
}

@media (max-width: $large-breakpoint) {
  .nav-button-bar {
    width: max(25px, 25px);
    height: max(5px, 5px);
    position: relative;
    transition: all 0.3s;

    &[data-nav-button-bar="three"] {
      width: max(12.5px, 12.5px);
    }
    &[data-nav-button-bar="two"] {
      width: max(17.5px, 17.5px);
    }
  }

  .nav-menu-closing-button {
    padding: 10px 15px;
  }
}
@media (max-width: $medium-breakpoint) {
  .nav-menu-closing-button {
    padding: 7.5px 12.5px;
  }
}
@media (max-width: $small-breakpoint) {
  .nav-menu-closing-button {
    padding: 5px 7.5px;
  }
}
