@use "../abstracts" as *;

.button {
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  font-family: $button-font-family;
  font-size: $button-font-size;
  text-transform: $button-text-transform;
  font-weight: $button-font-weight;
  padding: $button-padding;
  border: $button-border;
  border-radius: $button-border-radius;
  transition: all 275ms ease;
}

.nav-button-bar {
  background-color: white;
  width: max(30px, 30px);
  height: max(5px, 5px);
  position: relative;
  transition: all 0.3s;

  &[data-nav-button-bar="three"] {
    width: max(15px, 15px);
    border-top-right-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
  }
  &[data-nav-button-bar="two"] {
    width: max(20px, 20px);
    border-top-right-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
  }
}
.nav-button {
  position: fixed;
  top: min(10%, 30px);
  right: min(10%, 30px);

  width: max-content;
  height: max-content;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 10;
  padding: 15px;
  border-radius: 50%;
  transform: rotate(180deg);

  &:hover {
    background-color: rgb(45, 44, 44);
  }
  &:hover > [data-nav-button-bar="two"] {
    width: max(30px, 30px);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  &:hover > [data-nav-button-bar="three"] {
    width: max(30px, 30px);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

.nav-menu-closing-button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 15;
  border-radius: 50%;
  width: max-content;
  height: max-content;
  color: white;
  font-size: 32px;
  line-height: 32px;
  padding: 10px 15px;
  background-color: rgb(46, 46, 46);
  border: none;
  transition: all 0.5s;
}
.nav-menu-closing-button:hover {
  background-color: rgb(0, 0, 0);
  color: $color-neon-red;
  text-shadow: 0 0 7px rgb(#fff, 0.35), 0 0 17px $color-neon-red,
    0 0 22px $color-neon-red, 0 0 27px $color-neon-red;
}
