@use "../abstracts/" as *;

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  justify-content: center;
  border-radius: 7.5px;
  background-color: $color-black;
  box-sizing: border-box;
  width: max-content;
  max-width: 700px;
  height: max-content;
  max-height: max-content;
  padding: 20px;
}
