.contact-section-container {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: flex-start;
  gap: 120px;
  min-height: 100vh;
  height: max-content;
  max-height: max-content;
  width: 100vw;

  position: relative;
}

.contact-section-background-blur {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgb(white, 0.15);
  width: max(100%, 100%);
  height: max(100%, 100%);
  z-index: -1;
  border-radius: 20px;
}

.contact-section-background-blur-white {
  background-color: rgb(white, 0.3);
}
.contact-section-background-blur-black {
  background-color: rgb(black, 0.15);
}

.contact-info-container {
  width: max-content;
  padding: 30px;
  border-radius: 20p;
  background-image: url("../../library/assets/contact-background.jpeg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: max-content;
  max-height: 100vh;
  align-items: center;
  justify-content: center;
  z-index: 3;
  position: relative;
}
.contact-info-slide {
  width: max(100%, 100%);
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content 1fr;
  column-gap: 30px;
  align-items: center;
  justify-content: center;

  img {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    width: max(70px, 70px);
    height: max(70px, 70px);
  }
  p {
    height: max-content;
    width: max-content;
  }
}
