@use "../abstracts" as *;

.nav {
  font-size: toRem($font-size-64);
  font-family: $navigation-font-family;
  font-weight: $navigation-font-weight;
  width: max(100vw, 100vw);
  height: max(100vh, 100vh);

  background-color: $body-background-color;
  position: fixed;

  top: 0px;
  right: 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, max-content);
  gap: 10px;

  align-content: center;
  justify-items: center;
  z-index: 100;
  background-image: url("../../library/assets/constellation.jpeg");
  background-size: cover;

  &-page-selection-button {
    position: relative;
    font-family: inherit;
    font-size: inherit;
    width: max(300px, 300px);
    height: max(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    background-color: transparent;
    border: none;
    padding: 10px;
    color: white;
    transition: all 375ms ease;
    z-index: 3;
    &[data-nav-type="home"]:hover {
      color: $color-neon-red;
      text-shadow: 0 0 2px rgb(#fff, 0.3), 0 0 4px rgb(#fff, 0.3),
        0 0 8px rgb(#fff, 0.3), 0 0 21px rgb($color-neon-red, 0.5),
        0 0 45px rgb($color-neon-red, 0.5);
    }
    &[data-nav-type="education"]:hover {
      color: $color-neon-yellow;
      text-shadow: 0 0 2px rgb(#fff, 0.3), 0 0 4px rgb(#fff, 0.3),
        0 0 8px rgb(#fff, 0.3), 0 0 21px rgb($color-neon-yellow, 0.5),
        0 0 45px rgb($color-neon-yellow, 0.5);
    }
    &[data-nav-type="projects"]:hover {
      color: $color-neon-orange;
      text-shadow: 0 0 2px rgb(#fff, 0.3), 0 0 4px rgb(#fff, 0.3),
        0 0 8px rgb(#fff, 0.3), 0 0 21px rgb($color-neon-orange, 0.5),
        0 0 45px rgb($color-neon-orange, 0.5);
    }
    &[data-nav-type="certificates"]:hover {
      color: $color-neon-lime;
      text-shadow: 0 0 2px rgb(#fff, 0.3), 0 0 4px rgb(#fff, 0.3),
        0 0 8px rgb(#fff, 0.3), 0 0 21px rgb($color-neon-lime, 0.5),
        0 0 45px rgb($color-neon-lime, 0.5);
    }
  }
  .connecting-dots-dot,
  .connecting-dots-dot-left,
  .connecting-dots-dot-right {
    position: absolute;
    background-color: white;
    width: max(2px, 2px);
    height: max(2px, 2px);
    bottom: 0px;
    transition: width 0.5s;
  }

  .connecting-dots-dot {
    left: 50%;
    transform: translateX(-50%);
  }
  .connecting-dots-dot-left {
    left: 0px;
  }
  .connecting-dots-dot-right {
    left: 100%;
  }
  .connecting-dots-active {
    width: max(100%, 100%);
  }

  button:hover {
    cursor: pointer;
  }

  .nav-home-button-active {
    color: $color-neon-red;
    text-shadow: 0 0 2px rgb(#fff, 0.3), 0 0 4px rgb(#fff, 0.3),
      0 0 8px rgb(#fff, 0.3), 0 0 21px rgb($color-neon-red, 0.5),
      0 0 45px rgb($color-neon-red, 0.5);
  }

  .nav-education-button-active {
    color: $color-neon-yellow;
    text-shadow: 0 0 2px rgb(#fff, 0.3), 0 0 4px rgb(#fff, 0.3),
      0 0 8px rgb(#fff, 0.3), 0 0 21px rgb($color-neon-yellow, 0.5),
      0 0 45px rgb($color-neon-yellow, 0.5);
  }
  .nav-projects-button-active {
    color: $color-neon-orange;
    text-shadow: 0 0 2px rgb(#fff, 0.3), 0 0 4px rgb(#fff, 0.3),
      0 0 8px rgb(#fff, 0.3), 0 0 21px rgb($color-neon-orange, 0.5),
      0 0 45px rgb($color-neon-orange, 0.5);
  }
  .nav-certificates-button-active {
    color: $color-neon-lime;
    text-shadow: 0 0 2px rgb(#fff, 0.3), 0 0 4px rgb(#fff, 0.3),
      0 0 8px rgb(#fff, 0.3), 0 0 21px rgb($color-neon-lime, 0.5),
      0 0 45px rgb($color-neon-lime, 0.5);
  }
}

.background-nav-text {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: toRem($font-size-128);
  line-height: toRem($font-size-128);
  width: max-content;
  height: max-content;

  transition: all 0.5s;
}
.background-nav-text-animation-on {
  transform: translate(-50%, -50%) scaleX(1);
  opacity: 1;
}
.background-nav-text-animation-off {
  transform: translate(-50%, -50%) scaleX(5);
  opacity: 0;
}
.nav-background-blur {
  width: max(100%, 100%);
  height: max(100%, 100%);
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.65);
}

// .nav {
//   --flex-column-gap: #{$navigation-gap};
//   list-style: none;
//   font-family: $navigation-font-family;
//   font-weight: $navigation-font-weight;

//   a {
//     color: $navigation-color;
//     text-decoration: $navigation-link-text-decoration;

//     &:is(:hover, :focus) {
//       color: $navigation-color-hover;
//     }
//   }
// }
