@use "../abstracts/" as *;
.nav-menu-transition-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: $body-background-color;
  z-index: 1000;
}

.nav-menu-transition-cheveron-in {
  width: max(100vw, 100vw);
  background-color: red;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;

  transform: skew(-15deg);
  animation: transitionIn 1s forwards;
}

.nav-menu-transition-cheveron-out {
  width: max(100vw, 100vw);
  background-color: red;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: skew(15deg);
  animation: transitionOut 1s forwards;
}

@keyframes transitionIn {
  0% {
    left: -100vw;
  }
  100% {
    left: 200vw;
  }
}
@keyframes transitionOut {
  0% {
    left: 200vw;
  }
  100% {
    left: -100vw;
  }
}
