@use "../abstracts" as *;
.portfolio-section-container {
  padding-top: 40px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: 1200px;
  align-items: center;
  justify-content: center;
  gap: 120px;
  height: max-content;
  width: 100vw;
  background-image: url("../../library/assets/constellation.jpeg");
  background-repeat: repeat-y;
  background-size: 100% 500px;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}

.portfolio-section-container:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100vw;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 3;
}
.title-text-container {
  display: flex;
  width: max-content;
  height: max-content;
  align-items: flex-end;
  justify-items: center;
  gap: 10px;
  z-index: 3;
  padding: 0px;
}

.portfolio-card,
.portfolio-card-flipped {
  width: max(700px, 700px);
  height: max(500px, 500px);
  position: relative;

  z-index: 3;
  box-shadow: 0px 0px 20px rgb(white, 0.6);
}
.portfolio-card-flipped {
  justify-self: right;
}

.portfolio-card-info-section-flipped,
.portfolio-card-info-section {
  position: absolute;
  background-color: black;
  min-width: 600px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  bottom: 20px;
  box-shadow: 0px 0px 10px rgb(white, 0.6);
}

.portfolio-card-info-section {
  right: -550px;
}

.portfolio-card-info-section-flipped {
  left: -550px;
}
.portfolio-card-title {
  width: max-content;
  height: max-content;

  color: white;
  // font-family: $font-family;
}
.portfolio-card-description {
  width: max-content;
  max-width: 600px;
  height: max-content;

  color: white;
}
.portfolio-card-more-info-button {
  width: max-content;
  color: white;
  padding: 10px 20px;
  border-radius: 0px;
  border: 2px solid red;
  background-color: black;
  align-self: flex-end;
  font-family: $font-family-base;
  overflow: hidden;
  z-index: 3;
  position: relative;
  transition: all 1s;
}
.portfolio-card-more-info-button:after {
  content: "";
  width: max(100%, 100%);
  height: max(100%, 100%);
  background-color: red;
  z-index: -1;
  position: absolute;
  top: 0px;
  left: -100%;
  transition: all 1s;
}
.portfolio-card-more-info-button:hover {
  color: black;
  cursor: pointer;
}
.portfolio-card-more-info-button:hover::after {
  left: 0%;
}

.portfolio-card-image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: max(100%, 100%);
  height: max(100%, 100%);
  object-fit: cover;
}
.portfolio-card-reversed {
  transform: rotateX(180deg);
}
