@use "../abstracts" as *;
.portfolio-section-container {
  padding-top: 40px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: 1000px;
  align-items: center;
  justify-content: center;
  gap: 120px;
  min-height: 100vh;
  height: max-content;
  width: 100vw;
  background-image: url("../../library/assets/constellation.jpeg");
  background-repeat: repeat-y;
  background-size: 100% 500px;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}

.portfolio-section-container:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100vw;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 3;
}
.title-text-container {
  display: flex;
  width: max-content;
  height: max-content;
  align-items: flex-end;
  justify-items: center;
  gap: 10px;
  z-index: 3;
  padding: 0px;
}

.portfolio-card,
.portfolio-card-flipped {
  width: max(700px, 700px);
  height: max(500px, 500px);
  position: relative;

  z-index: 3;
  box-shadow: 0px 0px 20px rgb(white, 0.6);
}
.portfolio-card-flipped {
  justify-self: right;
}

.portfolio-card-info-section-flipped,
.portfolio-card-info-section {
  position: absolute;

  width: max(650px, 650px);
  padding: 25px;
  display: grid;
  grid-auto-flow: row;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  bottom: 20px;
  box-shadow: 0px 0px 10px rgb(white, 0.6);
  box-sizing: border-box;
}

.portfolio-card-info-section {
  right: -300px;
}

.portfolio-card-info-section-flipped {
  left: -300px;
}
.portfolio-card-title {
  width: max(100%, 100%);
  height: max-content;

  color: white;
  // font-family: $font-family;
}
.portfolio-card-description {
  width: max(100%, 100%);

  height: max-content;

  color: white;
}
.portfolio-card-more-info-button {
  width: max-content;
  color: white;
  padding: 10px 20px;
  border-radius: 0px;
  border: 2px solid red;
  background-color: inherit;
  align-self: flex-end;
  font-family: $font-family-base;
  overflow: hidden;
  z-index: 3;
  position: relative;
  transition: all 1s;
}
.portfolio-card-more-info-button:after {
  content: "";
  width: max(100%, 100%);
  height: max(100%, 100%);
  background-color: red;
  z-index: -1;
  position: absolute;
  top: 0px;
  left: -100%;
  transition: all 1s;
}
.portfolio-card-more-info-button:hover {
  color: black;
  cursor: pointer;
}
.portfolio-card-more-info-button:hover::after {
  left: 0%;
}

.portfolio-card-image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: max(100%, 100%);
  height: max(100%, 100%);
  object-fit: cover;
}
.portfolio-card-reversed {
  transform: rotateX(180deg);
}
@media (max-width: $large-breakpoint) {
  .portfolio-section-container {
    grid-template-columns: 725px;
    gap: 80px;
  }
  .portfolio-card,
  .portfolio-card-flipped {
    width: max(600px, 600px);
    height: max(400px, 400px);
  }
  .portfolio-card-info-section {
    right: -100px;
  }

  .portfolio-card-info-section-flipped {
    left: -100px;
  }
  .portfolio-card-info-section-flipped,
  .portfolio-card-info-section {
    width: max(450px, 450px);
  }
}
@media (max-width: $medium-breakpoint) {
  .portfolio-section-container {
    grid-template-columns: 500px;
    gap: 60px;
  }

  .portfolio-card,
  .portfolio-card-flipped {
    width: max(450px, 450px);
    height: max(300px, 300px);
  }
  .portfolio-card-info-section {
    right: -80px;
  }

  .portfolio-card-info-section-flipped {
    left: -80px;
  }
  .portfolio-card-info-section-flipped,
  .portfolio-card-info-section {
    width: max(350px, 350px);
    bottom: -20px;
  }
  .portfolio-card-more-info-button {
    padding: 5px 10px;
  }
}
@media (max-width: $small-breakpoint) {
  .portfolio-section-container {
    grid-template-columns: 400px;
    gap: 40px;
  }

  .portfolio-card,
  .portfolio-card-flipped {
    width: max(300px, 300px);
    height: max(520px, 520px);
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: 300px;
    row-gap: 40px;
    align-items: center;
    justify-content: center;
    grid-auto-flow: row;
    box-shadow: none;
    justify-self: center;
    padding: 0px;
  }

  .portfolio-card-image {
    position: relative;
    box-shadow: 0px 0px 10px white;
    height: max(300px, 300px);
    padding: 0px;
    top: unset;
    left: unset;
  }

  .portfolio-card-info-section-flipped,
  .portfolio-card-info-section {
    position: absolute;

    width: 100%;
    height: max(240px, 240px);

    left: unset;
    right: unset;
    bottom: unset;
    top: 280px;
    padding: 10px 15px;
  }
}
@media (max-width: $tiny-breakpoint) {
  .portfolio-section-container {
    grid-template-columns: 300px;
  }
}
