@use "../abstracts/" as *;

.title-card-section-container {
  width: max(100vw, 100vw);
  height: max(100vh, 100vh);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-card-data-container {
  display: flex;
  gap: toRem(10);
  height: max-content;
  width: max-content;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.title-card-text-container {
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: toRem(10);
  align-items: center;
  justify-items: center;
  background-color: transparent;
}

.title-card-name-container {
  width: max-content;
  height: max-content;
  background-color: transparent;
  display: flex;
  gap: toRem(5);
  align-items: flex-end;
  justify-content: flex-end;
}

.completed-animated-text-container {
  width: max(18ch, 18ch);
  height: max-content;
  background-color: transparent;
  display: flex;

  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  gap: toRem(10);
}

.animated-text-container {
  width: max(18ch, 18ch);
  height: max-content;
  background-color: transparent;
  display: flex;
  gap: 0px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.flashing-typing-bar {
  width: toRem(3);
  max-width: toRem(3);
  height: toRem(55);
  max-height: toRem(55);

  background-color: white;

  animation-name: flashing-bar;
  animation-duration: 0.25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: both;
}

.portfolio-img {
  width: toRem(350);
  max-width: toRem(350);
  height: toRem(350);
  max-height: toRem(350);

  border-radius: 50%;
  padding: toRem(10);
  position: relative;
  z-index: 1;
}
.name-text {
  width: max-content;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0px toRem(10);
  text-align: right;
  padding-bottom: toRem(40);
}
.tech-stack-container {
  display: flex;
  gap: toRem(40);
  width: max-content;

  height: max-content;
}

.tech-stack-container-vertical,
.languages-vertical-container {
  display: flex;
  flex-direction: column;
  gap: toRem(10);
  width: max-content;
  height: max-content;
  z-index: 2;
  position: fixed;
  top: 50%;

  transform: translateY(-50%);
  justify-content: center;
  align-items: center;
}

.tech-stack-container-vertical {
  left: toRem(20);
}
.languages-vertical-container {
  right: toRem(20);
}

.title-card-vertical-title {
  width: max-content;
  height: max-content;
  padding: 0px;
}

.title-card-vertical-title-container,
.code-platform-icon-list-container-vertical {
  display: flex;
  flex-direction: column;
  width: max-content;
  height: max-content;
  align-items: center;
  justify-items: center;
}
.title-card-vertical-title-container {
  gap: toRem(5);
}
.code-platform-icon-list-container-vertical {
  gap: toRem(10);
}
.title-card-vertical-title-container {
  border-bottom: 2px solid white;
  padding-bottom: toRem(20);
}
.tech-stack-title {
  padding-right: toRem(10);
  border-right: 2px solid white;
}
.code-platform-icon-list-container {
  width: max-content;
  max-width: max-content;
  display: flex;
  gap: toRem(10);
  height: max-content;
}

.code-icon-button {
  position: relative;
  width: max-content;
  height: max-content;

  transition: all 0.5s;
  border-radius: 50%;
  background-color: transparent;
  border: none;
}
.code-icon-button:hover {
  background-color: rgba(112, 112, 112, 0.5);
}
.code-icon-link {
  opacity: 0;

  width: toRem(20);
  max-width: toRem(20);
  height: toRem(20);
  max-height: toRem(20);

  color: transparent;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.code-icon {
  width: toRem(20);
  max-width: toRem(20);
  height: toRem(20);
  max-height: toRem(20);

  object-fit: cover;
  margin: 0px toRem(1.5);
}
.portfolio-pic-container {
  position: relative;
  z-index: 1;
  background-color: transparent;
}

.star-canvas {
  position: fixed;
  z-index: 2;
}

@keyframes flashing-bar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: $large-breakpoint) {
  .portfolio-img {
    width: toRem(250);
    max-width: toRem(250);
    height: toRem(250);
    max-height: toRem(250);
  }
  .flashing-typing-bar {
    height: toRem(45);
    max-height: toRem(45);
  }
}
@media (max-width: $medium-breakpoint) {
  .portfolio-img {
    width: toRem(175);
    max-width: toRem(175);
    height: toRem(175);
    max-height: toRem(175);
  }

  .tech-stack-container-vertical {
    left: toRem(5);
  }
  .languages-vertical-container {
    right: toRem(5);
  }
  .code-icon {
    width: toRem(15);
    max-width: toRem(15);
    height: toRem(15);
    max-height: toRem(15);
  }
  .flashing-typing-bar {
    height: toRem(25);
    max-height: toRem(25);
  }
}
@media (max-width: $small-breakpoint) {
  .portfolio-img {
    width: toRem(90);
    max-width: toRem(90);
    height: toRem(90);
    max-height: toRem(90);
  }
  .flashing-typing-bar {
    height: toRem(20);
    max-height: toRem(20);
  }

  .title-card-data-container {
    gap: toRem(0);
  }
}
