@use "../abstracts/" as *;
$portfolio-img-radius: 300px;
//ring animation settings
$ring-animation-duration: 10s;
$ring-animation-name: ring-animation;
$ring-animation-1-delay: 0s;
$ring-animation-2-delay: 3.5s;
$ring-animation-3-delay: 7s;
$ring-animations-iteration-count: infinite;
.title-card-section-container {
  width: max(100vw, 100vw);
  height: max(100vh, 100vh);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-card-data-container {
  display: flex;
  gap: 10px;
  height: max-content;
  width: max-content;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.title-card-text-container {
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-items: center;
  background-color: transparent;
}

.title-card-name-container {
  width: max-content;
  height: max-content;
  background-color: transparent;
  display: flex;
  gap: 5px;
  align-items: flex-end;
  justify-content: flex-end;
}

.completed-animated-text-container {
  font-size: toRem($font-size-64);
  width: max(18ch, 18ch);
  height: max-content;
  background-color: transparent;
  display: flex;

  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  gap: 10px;
}

.animated-text-container {
  font-size: toRem($font-size-64);
  width: max(18ch, 18ch);
  height: max-content;
  background-color: transparent;
  display: flex;
  gap: 0px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title-card-animated-text {
  font-size: toRem($font-size-64);
  line-height: toRem($font-size-64);

  color: white;
}

.flashing-typing-bar {
  width: max(3px, 3px);
  height: max(55px, 55px);
  background-color: white;

  animation-name: flashing-bar;
  animation-duration: 0.25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: both;
}
.title-card-last-name {
  font-size: toRem($font-size-82);
  line-height: 74px;
  color: rgb(158, 158, 158);
  height: max-content;
  width: max-content;
}
.title-card-name {
  font-size: toRem($font-size-64);
  line-height: toRem($font-size-64);
  color: white;
}

.portfolio-img {
  width: max($portfolio-img-radius, $portfolio-img-radius);
  height: max($portfolio-img-radius, $portfolio-img-radius);
  border-radius: 50%;
  padding: 10px;
  position: relative;
  z-index: 1;
}
.name-text {
  width: max-content;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0px 10px;
  text-align: right;
  padding-bottom: 40px;
}
.tech-stack-container {
  display: flex;
  gap: 40px;
  width: max-content;

  height: max-content;
}

.tech-stack-container-vertical,
.languages-vertical-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: max-content;
  height: max-content;
  z-index: 2;
  position: fixed;
  top: 50%;

  transform: translateY(-50%);
  justify-content: center;
  align-items: center;
}

.tech-stack-container-vertical {
  left: 20px;
}
.languages-vertical-container {
  right: 20px;
}

.title-card-vertical-title {
  width: max-content;
  height: max-content;
  line-height: toRem($font-size-16);
  font-size: toRem($font-size-16);
  padding: 0px;
}

.title-card-vertical-title-container,
.code-platform-icon-list-container-vertical {
  display: flex;
  flex-direction: column;
  width: max-content;
  height: max-content;
  align-items: center;
  justify-items: center;
}
.title-card-vertical-title-container {
  gap: 5px;
}
.code-platform-icon-list-container-vertical {
  gap: 10px;
}
.title-card-vertical-title-container {
  border-bottom: 2px solid white;
  padding-bottom: 20px;
}
.tech-stack-title {
  padding-right: 10px;
  border-right: 2px solid white;
}
.code-platform-icon-list-container {
  width: max-content;
  max-width: max-content;
  display: flex;
  gap: 10px;
  height: max-content;
}

.code-icon-button {
  position: relative;
  width: max-content;
  height: max-content;

  transition: all 0.5s;
  border-radius: 50%;
  background-color: transparent;
  border: none;
}
.code-icon-button:hover {
  background-color: rgba(112, 112, 112, 0.5);
}
.code-icon-link {
  opacity: 0;
  width: max(20px, 20px);
  height: max(20px, 20px);
  color: transparent;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.code-icon {
  width: max(20px, 20px);
  height: max(20px, 20px);
  object-fit: cover;
  margin: 0px 1.5px;
}
.portfolio-pic-container {
  position: relative;
  z-index: 1;
  background-color: transparent;
}
.glow-circle {
  width: max(
    calc($portfolio-img-radius + 50px),
    calc($portfolio-img-radius + 50px)
  );
  height: max(
    calc($portfolio-img-radius + 50px),
    calc($portfolio-img-radius + 50px)
  );
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  animation-name: $ring-animation-name;
  animation-duration: $ring-animation-duration;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: both;
  border: 4px solid;
}

.glow-circle-1 {
  animation-delay: $ring-animation-1-delay;
}
.glow-circle-2 {
  animation-delay: $ring-animation-2-delay;
  animation-direction: alternate;
}
.glow-circle-3 {
  animation-delay: $ring-animation-3-delay;
}

.star-canvas {
  position: fixed;
  z-index: 2;
}

@keyframes ring-animation {
  0% {
    border-radius: 68% 32% 67% 33% / 65% 21% 79% 35%;
    border-color: $color-neon-blue;
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    border-radius: 11% 89% 19% 81% / 88% 8% 92% 12%;
    border-color: $color-neon-red;
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    border-radius: 16% 84% 38% 62% / 24% 65% 35% 76%;
    border-color: $color-neon-lime;
    transform: translate(-50%, -50%) scale(1);
  }
}

//border-radius:71% 29% 55% 45% / 45% 30% 70% 55%
//border-radius: 23% 77% 55% 45% / 69% 30% 70% 31% ;
//border-radius: 86% 14% 69% 31% / 69% 30% 70% 31%
// box-shadow: 0 0 4px rgb(#fff, 0.35), 0 0 8px $color-neon-lime,
// 0 0 12px $color-neon-lime, 0 0 16px $color-neon-lime;
@keyframes flashing-bar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
